version: '3.8'

services:
  db:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: bank
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: bank-rest
    ports:
      - "4040:4040"
    environment:
      DB_URL: jdbc:postgresql://db:5432/bank
      DB_USERNAME: postgres
      DB_PASSWORD: password
      TOKEN_SECRET: f5b731cd90578a6aef97a502208e2888338a304264335e601643b1f9705fb3cc
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: